.main{
  width: 550px;
  height: 400px;
  margin: auto;
  background-color: coral;
}
.frames{
  width: 500px;
  height: 80px;
  background-color: sienna;
  margin: 10px 25px 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.frames p{
  text-align: center;
  font-size: 40px;
  line-height: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: black;
}
.test{
  width: 500px;
  height: 70px;
  background-color: darksalmon;
  margin: 0px 25px 0px;
  float: left;
  border-top: 1px solid rgb(197, 135, 106);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.test p{
  text-align: left;
  font-size: 25px;
  line-height: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-left: 50px;
}
.body .test:hover{
  width: 495px;
  opacity: 0.7;
  border-left: 5px solid sienna;
}
.body .test:hover{
  display: block;
}
ion-icon {
  width: 30px;
  height: 70px;
  float: left;
  margin-left: 10px;
}
