.main{
    width: 1000px;
    height: 420px;
    background-color: rgb(255, 217, 0);
    margin: auto;
}
.nav1{
width: 100%;
height: 195px;
}
.box1{
    width: 650px;
    height: 100%;
    float: left;
    margin-left: 20px;
}
.nav2{
    width: 100%;
    height: 195px;
}
.box2{
    width: 300px;
    height: 100%;
    float: left;
    margin-left: 20px;
}
.box3{
    width: 225px;
    height: 100px;
    float: left;
    margin-left: 20px;
}
.text{
    text-align: justify;
}
