.main{
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin: auto;
}
.head{
    width: 1000px;
    height: 130px;
    background-color: silver; 
}
.box1{
    width: 290px;
    height: 100%;
    color: white;
    /* margin-left: 30px; */
    float: left;
    padding-left: 30px;
}
.box1 p{
    margin-top: -8px;
     text-align: justify;   
}
.box1 img{
    width: auto;
    height: 30px;
    float: left;
    margin-right: 5px;
}
.mid{
    width: 900px;
    height: 750px;
    margin-top: -45px;
}
.box2{
    width: 500px;
    height: 100%;
    color: blue;
    float: left;
}
.center{
    text-align: center;
    margin-top: 300px;

}
.box3{
    width: 400px;
    height: 120px;
    float: right;
    margin-top: 50px;
}
.box3 a {
    width: 350px;
    height: 120px;
    color: rgb(71, 138, 240);
    text-decoration: none;
    
}
.box3 img {
    width: auto;
    height: 120px;
    float: left;
    margin-right: 15px;
}
.box4{
    width: 250px;
    height: 120px;
    float: right;
}