.main{
    width: 1500px;
    height: auto;
    margin: auto;
    background-color: white;
}
.box1{
    width: 350px;
    height: 1000px;
    float: left;
    margin-left: 100px;
}
.box1 img{
    width: 350px;
    height: 150px;
}
.box1 h3{
    height: 40px;
    background-color:rgb(168, 120, 30);
    border: 2px solid black;
    color: white;
    line-height:35px;
}
.box1 a{
    width: 90px;
    height: 30px;
    background-color:rgb(168, 120, 30);
    text-align: center;
    text-decoration: none;
    border: 1px soild blanchedalmond;
    float: right;
    color: white;
    line-height:30px;
}
.box1 h4{
    color:rgb(223, 160, 43) ;
    font-size: 18px;
}
.hi{
    line-height:10px;
}
.box2{
    width: 350px;
    height: 1000px;
    float: left;
    margin-left: 100px;
    
}
.box2 h3{
    height: 40px;
    background-color:rgb(168, 120, 30);
    border: 2px solid black;
    color: white;
    line-height:35px;
}
.box3{
    width: 350px;
    height: 200px; 
    margin-top: -100px ;
}
.box3 h4{
    color:rgb(223, 160, 43) ;
    font-size: 22px;
}
.box3 img{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}